<div class="card mb-3">
  <div class="card-header text-white bg-success h3">
    RECORD : <%= feed.habit.name %>
  </div>
  <div class="card-body text-dark bg-light">
    <h4 class="card-title d-flex">
      <div class="card-title"><%= feed.member.name %></div>
      <div class="card-title text-muted">(<%= feed.member.account_id %>)</div>
    </h4>
    <p class="card-text">
      <i class="fa-regular fa-message"></i>　<%= feed.text_content %>
    </p>
    <h6 class="text-muted text-right"><%= l feed.created_at %></h6>
  </div>
</div>