
<% if @post_comment.errors.any? %>
  <%= render 'layouts/error_message', error_obj: @post_comment %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-3">
        <% if @feed.current_duration == 0 %>
          <div class="card-header text-white bg-primary h3">
            NEW HABIT : <%= @feed.habit.name %>
          </div>
        <% else %>
          <div class="card-header text-white bg-success h3">
            RECORD : <%= @feed.habit.name %>
          </div>
        <% end %>
        <div class="card-body text-dark bg-light">
          <h4 class="card-title d-flex">
            <div class="card-title"><%= @feed.member.name %></div>
            <div class="card-title text-muted">(<%= @feed.member.account_id %>)</div>
          </h4>
          <p class="card-text">
            <i class="fa-regular fa-message"></i>　<%= @feed.text_content %>
          </p>
          <h6 class="text-muted text-right">#<%= @feed.habit.tag.name %></h6>
          <h6 class="text-muted text-right"><%= render "layouts/time_display", time_data: @feed.created_at %></h6>
          <p><%= render 'public/favorites/form', favorable: @feed %></p>
          <% if @feed.member == current_member %>
            <%= link_to "削除", feed_path(@feed.id), method: :delete, data: { confirm: "Are you sure ?"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render "public/post_comments/form", post_comment: @post_comment, feed_id: @feed.id %>
  <%= render "public/post_comments/list", post_comments: @post_comments %>

</div>