<%= link_to "戻る", home_path %>
<h1>ポスト詳細</h1>

<h2><%= @feed.member.nickname %></h2>
<h4><%= @feed.member.account_name %></h4>
<p><%= @feed.habit.name %>
<% if @feed.current_duration == 0 %>
  に新しく取り組みます！
<% else %>
  に
  <% if @feed.habit.total_count == 0 %>
    はじめて
  <% elsif @feed.habit.total_count != 0 && @feed.current_duration > 1 %>
    <%= @feed.current_duration %>日続けて
  <% end %>
  取り組みました！
<% end %>
</p>
<p>コメント：<%= @feed.comment %></p>
<p><%= @feed.created_at %></p>

<% if @feed.member == current_member %>
  <%= link_to "消す", feed_path(@feed.id), method: :delete, data: { confirm: "ほんとに？"} %>
<% end %>


<% if @post_comments.count == 0 %>
  <p><font color="red">まだコメントがありません</font></p>
<% else %>
  <% @post_comments.each do |post_comment| %>
    <%= render "post_comments/comment", post_comment: post_comment %>
  <% end %>
<% end %>

<%= form_with model: @post_comment, url: feed_post_comments_path(@feed.id), method: :post do |f| %>

  <p>コメントはこちら</p>
  <%= f.text_area :comment %>
  <%= f.submit "コメントする！" %>

<% end %>
