<h1>User info</h1>
<% if @member.errors.any? %>
  <%= render 'layouts/error_message', error_obj: @member %>
<% end %>
<%= form_with model: @member, url: admin_member_path(@member), method: :patch do |f| %>
  <p>アカウント名</p>
  <%= f.text_field :account_id, value: @member.account_id %>
  <br>
  <p>ニックネーム</p>
  <%= f.text_field :name, value: @member.name %>
  <br>
  <p>Image</p>
  <%= f.file_field :profile_image, accept: "image/*" %>
  <p>Introduction</p>
  <%= f.text_area :introduction, value: @member.introduction %>
  <br>
  <div>
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active, "有効" %>
    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active, "退会" %>
  </div>
  <%= f.submit '更新' %>
<% end %>

<%= link_to "戻る", admin_dashboards_path %>
</div>
