<% if favorable.member == current_member %>
  <p>♥<%= favorable.favorites.count %> いいね</p>
<% else %>

  <% if favorable.favorited_by?(current_member) %>
    <p>
      <%= link_to favorite_path(favorable_type: favorable.class.name, favorable_id: favorable.id), method: :delete do %>
        ♥<%= favorable.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to favorites_path(favorable_type: favorable.class.name, favorable_id: favorable.id), method: :post do %>
        ♡<%= favorable.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

<% end %>
