<% if flash[:alert].present? %>
  <%= alert %>
<% end %>

<h1>HABI-LOG</h1>
<%= render "public/sessions/form", member: @member, devise_mapping: @devise_mapping, resource_name: @resource_name %>
<%= link_to "アカウント登録", new_member_registration_path %>
<%= link_to "お試し利用（ゲストログイン）", guest_sign_in_path, method: :post %>
<%= link_to "HABI-LOGについて", about_path %>