<h1><%= @member.name %>(<%= @member.account_id %>)の投稿一覧</h1>
<% if @feeds.count == 0 %>
  <div><font color="red">投稿はありません。</font></div>
<% else %>
  <% @feeds.each do |feed| %>
    <div>
      <%= l feed.created_at %> -
      <%= link_to admin_feed_path(feed) do %>
        <b><%= feed.habit.name %></b>
      <% end %>
      - <%= feed.text_content %> -
      <%= link_to "削除", admin_feed_path(feed), method: :delete, data: {confirm: "削除します。よろしいですか？"} %>
    </div>
  <% end %>
<% end %>
