<%= link_to "戻る", admin_member_habits_path(@habit.member) %>

<h1>習慣詳細</h1>

  <div>
    習慣名：<%= @habit.name %>
  </div>
    登録時のコメント：<%= @habit.caption %>
  </div>
  <div>
    回数：<%= @habit.achievement_count %>
  </div>
  <div>
    継続日数：<%= @habit.current_duration %>
  </div>
  <div>
    最大継続日数：<%= @habit.max_duration %>
  </div>
  <div>
    タグ：<%= @habit.tag.name %>
  </div>
  <div>
    最終達成日：<%= render "admin/habits/display_last_achievement", last_achievement: @habit.last_achievement %>
  </div>
  <div>
    登録日：<%= @habit.created_at %>
  </div>
  <div>
    <%= link_to "削除", admin_member_habit_path(@habit.member, @habit), method: :delete, data: { confirm: "削除します。よろしいですか？"} %>
  </div>

  <br>

  <h3>達成履歴</h3>
  <%= render "admin/habit_records/list", habit_records: @habit_records %>

