<% if current_member != nil %>

  <div>
    アカウント名：<%= current_member.account_id %>
  </div>
  <div>
    メールアドレス：<%= current_member.email %>
  </div>
  <div>
    ニックネーム：<%= current_member.name %>
  </div>
  <div>
    <%= link_to notifications_path do %>
      <%= current_member.notifications.where(read: false).count %>件の未読通知
    <% end %>
  </div>
  <div>
    <%= link_to "習慣の登録", new_member_habit_path(current_member.id) %>
    /
    <%= link_to "習慣の一覧", member_habits_path(current_member.id) %>
  </div>

<% end %>