<% if reply_comment.member != current_member && reply_comment.member.is_private == true %>
  <p>非公開！</p>
<% else %>
  <div class="card mb-2">
    <div class="card-body">
      <div class="card-header">
        <div class="d-flex">
          <h5 class="card-title"><%= reply_comment.member.name %></h5>
          <h5 class="card-title text-muted"><%= reply_comment.member.account_id %></h5>
        </div>
      </div>
      <h4 class="card-title">あああ
      </h4>
      <p class="card-text"><%= reply_comment.content %></p>
      <h6 class="text-muted">　<%= l reply_comment.created_at %></h6>
    </div>
  </div>


  <p><%= render 'public/favorites/form', favorable: reply_comment %></p>

  <% if reply_comment.member == current_member %>
    <%= link_to "消す", feed_post_comment_reply_comment_path(reply_comment.post_comment.feed_id, reply_comment.post_comment, reply_comment), method: :delete, data: { confirm: "本当に削除しますか？"} %>
  <% end %>

<% end %>