<% if reply_comment.member != current_member && reply_comment.member.is_private == true %>
  <p>非公開！</p>
<% else %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex text-dark">
        <div><%= reply_comment.member.name %></div>
        <div class="text-muted">(<%= reply_comment.member.account_id %>)</div>
      </div>
      <br>
      <div class="card-text text-dark">
        <%= reply_comment.content %>
      </div>
      <h6 class="text-muted text-right"><%= render "layouts/time_display", time_data: reply_comment.created_at%></h6>
      <p><%= render 'public/favorites/form', favorable: reply_comment %></p>
      <% if reply_comment.member == current_member %>
        <%= link_to "削除", feed_post_comment_reply_comment_path(reply_comment.post_comment.feed_id, reply_comment.post_comment, reply_comment), method: :delete, data: { confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
  </div>
<% end %>