<%= link_to feed_post_comment_path(feed_id: post_comment.feed.id, id: post_comment.id), class: "text-decoration-none" do %>
  <div class="card">
    <div class="card-body">
      <div class="text-dark">
        <%= render "public/members/display_name", member: post_comment.member, with_lock_icon: true %>
      </div>
      <br>
      <div class="card-text text-dark">
        <%= post_comment.content %>
      </div>
      <h6 class="text-muted text-right"><%= render "layouts/time_display", time_data: post_comment.created_at%></h6>
      <p><%= render 'public/favorites/form', favorable: post_comment %></p>
      <p>
        <i class="fa-solid fa-reply"></i><%= post_comment.reply_comments.count %>
      </p>
      <% if post_comment.member == current_member %>
        <%= link_to "削除", feed_post_comment_path(post_comment), method: :delete, data: { confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
  </div>
<% end %>