<h1>検索結果</h1>


<h3>メンバー</h3>

<% if @member_results.count == 0 %>
  <p><font color="red">メンバーはいません</font></p>
<% else %>
  <% @member_results.each do |member| %>
    <div>
      <h4>■<%= link_to member.name, member_path(member) %>さん</h4>
    </div>
    <div>
      メンバーＩＤ：<%= member.account_id %>
    </div>
    <div>
      登録日：<%= member.created_at %>
    </div>
  <% end %>
<% end %>

<h3>習慣</h3>

<% if @habit_results.count == 0 %>
  <p><font color="red">習慣はありません</font></p>
<% else %>
<%  @habit_results.each do |habit| %>
    <div>
      <h4>■<%= habit.name %></h4>
    </div>
    <div>
      登録者：<%= link_to habit.member.name, member_path(habit.member) %>さん
    </div>
    <div>
      登録日：<%= habit.created_at %>
    </div>
  <% end %>
<% end %>