<h1>新規投稿</h1>

<%= form_with model: @habit, url: member_habits_path, method: :post do |f| %>

  <p>習慣名</p>
  <%= f.text_field :name %>
  <p>意気込みをどうぞ</p>
  <%= f.text_area :comment %>

  <br>
  <p>タグ</p>
  <% @tags.each do |tag| %>
    <%= f.radio_button :tag_id, tag.id %>
    <%= f.label :tag_id_name, tag.name %>
  <% end %>
  <%= f.submit "登録する" %>
<% end %>
<%= link_to "戻る", timeline_path %>
