<!DOCTYPE html>
<html>
  <head>
    <title>Admin - HABI-LOG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <% if admin_signed_in? %>
      <div class="text-center">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </div>
    <% end %>
    <div><font color="green"><%= notice %></font></div>
    <%= yield %>
  </body>
</html>