<%= link_to "戻る", timeline_path %>

<h1><%= @member.nickname %></h1>
<div><%= @member.account_name %></div>
<div><%= image_tag @member.get_profile_image(100,100) %></div>

<% if @member != current_member && @member.is_private == true %>
  <h1>非公開メンバーです</h1>
<% else %>
  <p>フォロー：<%= @member.follow_count %></p>
  <p>フォロワー：<%= @member.followed_count %></p>
  <p>自己紹介：<%= @member.introduction %></p>
  <p>投稿数：<%= @member.feeds.length %></p>

  <% if @member == current_member %>
    <%= link_to "プロフィール編集", edit_member_path(@member.id) %>
  <% end %>
  <% @feeds.each do |feed| %>
   <%= render "feeds/feed_data", feed: feed %>
  <% end %>
<% end %>